@import "../../colors.scss";

.optionsContainer{
  position: absolute;
  top: 0px;
  left: calc(100% + 16px);
  width: 280px;
  height: 100%;
  background-color: white;
  border: 1px solid $black;
  border-radius: 8px;
  padding: 16px;
  overflow-y: scroll;
}

.optionsTitle {
  margin: 0 0 16px 0;
}
