.creativeSizeList {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.creativeSize, .addNewCreativeSize {
  margin: 4px;
  padding: 4px;
  cursor: pointer;
}

.addSizeForm {
  display: none;
  align-items: center;
}

.addSizeForm input, .addSizeForm button, .addSizeForm span {
  margin:8px;
}

.addSizeFormClose {
  font-weight: bold;
  cursor: pointer;
}

.addSizeForm input {
  width: 64px;
}
