@import "../../colors.scss";

.creativeSizeList {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 8px;
}

.notSelected {
  border: 3px solid transparent;
  background-color: $green-faded !important;
}

.selectedSize {
  border: 3px solid $green;
  background-color: $green;
}

.creativeSize {
  border-radius: 0.5rem;
  padding: 4px 8px;
  color: white;
  font-weight: bold;
  letter-spacing: 0.7px;

  &:hover {
    border: 3px solid $green !important;
  }
}

.creativeSize, .addNewCreativeSize {
  cursor: pointer;
}


.addNewCreativeSize {
  font-weight: bold;
  color: $darkgrey;
}

.addSizeForm {
  display: none;
  align-items: center;
}

.addSizeForm input, .addSizeForm button, .addSizeForm {
  margin:4px;
}

.addSizeFormClose {
  font-weight: bold;
  cursor: pointer;
}

.addSizeForm input {
  width: 64px;
}
