@import "./colors.scss";

@font-face {
  font-family: "Satoshi";
  src: url("/src/assets/fonts/Satoshi-Variable.ttf");
}

@font-face {
  font-family: "Porsche Next";
  src: url("/src/assets/fonts/Porsche\ Next\ TT\ Regular.ttf");
}
@font-face {
  font-family: "Porsche Next Italic";
  src: url("/src/assets/fonts/PorscheNextTT-Italic_0.ttf");
}

@font-face {
  font-family: "Porsche Next Bold";
  src: url("/src/assets/fonts/Porsche\ Next\ TT\ Bold.ttf");
}

* {
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
}

body {
  height: 100%;
  background-color: $lightgrey;
  color: $black;
  margin: 0;
}

h1 {
  font-size: 2.4rem;
  line-height: 1.1;
}

.layoutDiv {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 8px 8px 16px 8px;
}
