@import "./colors.scss";

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: $lightgrey;
  color: $black;
  margin: 0;
}

h1 {
  font-size: 2.4rem;
  line-height: 1.1;
}

.layoutDiv {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 8px 8px 16px 8px;
}
